<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Daily Show</title>
  </head>
  <body>
    <h1>Episode: <%= @episode.title %></h1>
    <p>Date: <%= @episode.date %></p>
    <% Appearance.all.each do |appearance| %>
    <% if appearance.episode_id == @episode.id %>
    <h3>Guest: <%= appearance.guest.full_name %></h3>
    <% else %>
    <%= "" %>
    <% end %>
    <% end %>
    <% Guest.all.each do |guest| %>
    <% if guest.id == @appearance.guest_id %>
    <a href="/guests/<%= guest.id %>">See Details about Guest</a>
    <% end %>
    <% end %>
  </body>
</html>
